{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>FADEX.9</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icons/favicon.ico' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'user_side/assets/css/main.css ' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.min.css">
    <style>
        .search-container {
        display: flex;
        align-items: center;
        justify-content: center; /* Center items horizontally */
    }

.search-input {
    display: flex;
    align-items: center;
    width: 550px; /* Set width to match input */
    border: 1px solid #ccc; /* Optional: Add border for visual separation */
}

.search-input input {
    flex: 1;
    padding: 10px; /* Adjust padding as needed */
    border: none;
    outline: none;
    font-size: 14px; /* Example font size */
}

.search-input .search-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px; /* Adjust padding to decrease button size */
}

.search-input .search-button img {
    width: 20px; /* Set desired icon size */
    height: auto; /* Maintain aspect ratio */
}
/* General styles for search input */
.search-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-input input {
    flex: 1;
    border: none;
    padding: 8px 12px;
    outline: none;
    font-size: 14px;
}

.search-button {
    background: none;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-button img {
    width: 16px; /* Adjust the size of the search icon */
}

/* Hover state for search button */
.search-button:hover {
    background-color: black;
}

.search-button:hover img {
    filter: invert(100%);
}

.search-container {
    max-width: 600px;
    margin: 20px auto;
}

.search-wrapper {
    display: flex;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input {
    flex-grow: 1;
    padding: 12px 20px;
    border: none;
    font-size: 16px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-input:focus {
    outline: none;
    box-shadow: none;
}

.search-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.search-button:hover {
    background-color: #45a049;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.search-text {
    font-size: 16px;
}
    </style>
    
</head>

<body>
    <!-- Quick view -->
    <div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">              
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>       
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    <figure class="border-radius-10">
                                        <img src="{% static 'user_side/assets/imgs/shop/product-16-2.jpg' %}" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="{% static 'user_side/assets/imgs/shop/product-16-1.jpg' %}" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="{% static 'user_side/assets/imgs/shop/product-16-3.jpg' %}" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="{% static 'user_side/assets/imgs/shop/product-16-4.jpg' %}" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="{% static 'user_side/assets/imgs/shop/product-16-5.jpg' %}" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="{% static 'user_side/assets/imgs/shop/product-16-6.jpg' %}" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="{% static 'user_side/assets/imgs/shop/product-16-7.jpg' %}" alt="product image">
                                    </figure>
                                </div>
                                <!-- THUMBNAILS -->
                                <div class="slider-nav-thumbnails pl-15 pr-15">
                                    <div><img src="{% static 'user_side/assets/imgs/shop/thumbnail-3.jpg' %}" alt="product image"></div>
                                    <div><img src="{% static 'user_side/assets/imgs/shop/thumbnail-4.jpg' %}" alt="product image"></div>
                                    <div><img src="{% static 'user_side/assets/imgs/shop/thumbnail-5.jpg' %}" alt="product image"></div>
                                    <div><img src="{% static 'user_side/assets/imgs/shop/thumbnail-6.jpg' %}" alt="product image"></div>
                                    <div><img src="{% static 'user_side/assets/imgs/shop/thumbnail-7.jpg' %}" alt="product image"></div>
                                    <div><img src="{% static 'user_side/assets/imgs/shop/thumbnail-8.jpg' %}" alt="product image"></div>
                                    <div><img src="{% static 'user_side/assets/imgs/shop/thumbnail-9.jpg' %}" alt="product image"></div>
                                </div>
                            </div>
                            <!-- End Gallery -->
                            <div class="social-icons single-share">
                                <ul class="text-grey-5 d-inline-block">
                                    <li><strong class="mr-10">Share this:</strong></li>
                                    <li class="social-facebook"><a href="#"><img src="{% static 'user_side/assets/imgs/theme/icons/icon-facebook.svg' %}" alt=""></a></li>
                                    <li class="social-twitter"> <a href="#"><img src="{% static 'user_side/assets/imgs/theme/icons/icon-twitter.svg' %}" alt=""></a></li>
                                    <li class="social-instagram"><a href="#"><img src="{% static 'user_side/assets/imgs/theme/icons/icon-instagram.svg' %}" alt=""></a></li>
                                    <li class="social-linkedin"><a href="#"><img src="{% static 'user_side/assets/imgs/theme/icons/icon-pinterest.svg' %}" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>        
        </div>
        </div>
    </div>

    
    <header class="header-area header-style-1 header-height-2">
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="">
                        <a href="{% url 'accounts:home' %}"><img style="height: 70px;" src="{% static 'images/logo-no-background.png' %}" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-container">
                            <form method="get" action="{% url 'accounts:product_shop' %}">
                                    <input style="width:600px; height:50px;" class="search-wrapper" type="text" name="search" placeholder="Search for items..." value="{{ search_query }}" class="search-input">
                                    <input type="hidden" name="category" value="{{ current_category }}">
                                    <input type="hidden" name="brand" value="{{ current_brand }}">
                                    <input type="hidden" name="sort_by" value="{{ current_sort_by }}">
                            </form>
                        </div>
                        <div style="margin-left: 70px;" class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="{% url 'wishlist:wishlist' %}">
                                        <img class="svgInject" alt="Evara" src="{% static 'user_side/assets/imgs/theme/icons/icon-heart.svg' %}">
                                        <span class="pro-count blue">{{ wishlist_count }}</span>
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a href="{% url 'cart:cart_view' %}">
                                        <img class="svgInject" alt="Evara" src="{% static 'user_side/assets/imgs/theme/icons/icon-cart.svg' %}">
                                        <span class="pro-count blue">{{ cart_count }}</span> 
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" >
                                        <img alt="Evara" src="{% static 'images/icons/user-round-plus.svg' %}">
                                        
                                    </a>
                                    <div style="width:150px;" class="cart-dropdown-wrap cart-dropdown-hm2">
                                        <ul>
                                            {% if request.user.is_authenticated %}
                                            <li>
                                                
                                                <div class="shopping-cart-img">
                                                    <a style="font-weight:bold; color:#ffffff;" class="btn btn-fill-out btn-block hover-up" href="{% url 'user_panel:user_dash' %}">Account</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a style="font-weight:bold; color:#ffffff;" class="btn btn-fill-out btn-block hover-up" href="{% url 'accounts:logout' %}">Logout</a>
                                                </div>
                                            </li>
                                            {% else %}
                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a style="font-weight:bold;  color:#ffffff;" class="btn btn-fill-out btn-block hover-up" href="{% url 'accounts:login' %}">Login</a>
                                                </div>
                                                
                                            </li>
                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a style="font-weight:bold;  color:#ffffff;" class="btn btn-fill-out btn-block hover-up" href="{% url 'accounts:register' %}">Register</a>
                                                </div>
                                            </li>
                                            {% endif %}
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-left:600px;" class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="{% static 'user_side/assets/imgs/theme/logo.png' %}" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a style="font-weight:bold; font-size:20px; outline:none;" class="active" href="{% url 'accounts:home' %}">Home <i ></i></a>
                                        
                                    </li>
                                    
                                    <li><a style="font-weight:bold; font-size:20px; outline:none;" href="{% url 'accounts:product_shop' %}">Shop <i class=""></i></a>
                                        
                                    </li>
                                    
                                    <li>
                                        <a style="font-weight:bold; font-size:20px; outline:none;" href="{% url 'accounts:about' %}">About</a>
                                    </li>
                                    
                                    <li style=" outline:none;">
                                        <a style="font-weight:bold; font-size:20px; outline:none;" href="{% url 'accounts:contact' %}">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    {% block content %}

    {% endblock %}
    <footer class="main">
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="{% url 'accounts:home' %}"><img src="{% static 'images/logo-no-background.png' %}" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>Brototype ,Maradu , Kochi,628459
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+91 9539027191
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="https://www.facebook.com/anandha.krishnan.98031"><img src="{% static 'user_side/assets/imgs/theme/icons/icon-facebook.svg' %}" alt=""></a>
                                <a href="https://www.instagram.com/ananda.krshnnn/"><img src="{% static 'user_side/assets/imgs/theme/icons/icon-instagram.svg' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="{% url 'accounts:about' %}">About Us</a></li>
                            <li><a href="{% url 'accounts:about' %}">Delivery Information</a></li>
                            <li><a href="{% url 'accounts:about' %}">Privacy Policy</a></li>
                            <li><a href="{% url 'accounts:about' %}">Terms &amp; Conditions</a></li>
                            <li><a href="{% url 'accounts:contact' %}">Contact Us</a></li>
                            <li><a href="{% url 'accounts:contact' %}">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a {% if request.user.is_authenticated %} href="{% url 'accounts:logout' %}"{% else %}href="{% url 'accounts:login' %}"{% endif %}>{% if request.user.is_authenticated %}Log Out{% else %}Sign In{% endif %}</a></li>
                            <li><a href="{% url 'cart:cart_view' %}">View Cart</a></li>
                            <li><a href="{% url 'wishlist:wishlist' %}">My Wishlist</a></li>
                            <li><a href="{% url 'user_panel:user_dash' %}">Track My Order</a></li>
                            <li><a href="{% url 'accounts:contact' %}">Help</a></li>
                            <li><a href="{% url 'user_panel:user_dash' %}">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="{% static 'user_side/assets/imgs/theme/app-store.jpg' %}" alt=""></a>
                                    <a href="#" class="hover-up"><img src="{% static 'user_side/assets/imgs/theme/google-play.jpg' %}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="{% static 'user_side/assets/imgs/theme/payment-method.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 style="font-weight:bold;" class="mb-10">Wait For The Drip</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Vendor JS-->
    <script src="{% static 'user_side/assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'user_side/assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'user_side/assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'user_side/assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'user_side/assets/js/plugins/slick.js' %}"></script>
    <script src="{% static 'user_side/assets/js/plugins/jquery.syotimer.min.js' %}"></script>
    <script src="{% static 'user_side/assets/js/plugins/wow.js' %}"></script>
    <script src="{% static 'user_side/assets/js/plugins/jquery-ui.js' %}"></script>
    <script src="{% static 'user_side/assets/js/plugins/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'user_side/assets/js/plugins/magnific-popup.js' %}"></script>
    <script src="{% static 'user_side/assets/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'user_side/assets/js/plugins/waypoints.js' %}"></script>
    <script src="{% static 'user_side/assets/js/plugins/counterup.js' %}"></script>
    <script src="{% static 'user_side/assets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'user_side/assets/js/plugins/images-loaded.js' %}"></script>
    <script src="{% static 'user_side/assets/js/plugins/isotope.js' %}"></script>
    <script src="{% static 'user_side/assets/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'user_side/assets/js/plugins/jquery.vticker-min.js' %}"></script>
    <script src="{% static 'user_side/assets/js/plugins/jquery.theia.sticky.js' %}"></script>
    <script src="{% static 'user_side/assets/js/plugins/jquery.elevatezoom.js' %}"></script>
    
    <!-- Template  JS -->
    <script src="{% static 'user_side/assets/js/main.js' %}"></script>
    <script src="{% static 'user_side/assets/js/shop.js' %}"></script>


</body>

</html>