{% extends 'Base/admin_base.html' %}
{% load static %}
{% block content %}
<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">ADD IMAGE</h2>
            </div>
        </div>
        <div style="width:900px;" class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Basic</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" id="addImagesForm" action="{% url 'product:product_image' products.id %}"> 
                        {% csrf_token %} 
                        <div class="col-lg-8">
                            <div class="card mb-8">
                                <div class="card-header">
                                    <h4>THUMBNAILS</h4>
                                </div>
                                <div class="card-body">
                                    <div class="input-upload">
                                        <img src="assets/imgs/theme/upload.svg" alt="">
                                        <input class="form-control" name="thumbnail"  type="file">
                                    </div>
                                </div>
                            </div> <!-- card end// -->
                        <div class="col-lg-80">
                            <div class="card mb-8">
                                <div class="card-header">
                                    <h4>IMAGE</h4>
                                </div>
                                <label style="font-weight:bold;" for="images">Images (Minimum 3)</label> 
                                <div class="card-body">
                                    
                                    <div id="imageInputs" class="form-group"> 
                                        
                                        <input type="file" class="form-control" id="images" name="images"  accept="image/*" multiple> 
                                    </div> 
                                </div>
                            </div> <!-- card end// -->

                        {% comment %} <button type="button" class="btn btn-secondary" id="addMoreImages">Add More Images</button>  {% endcomment %}

                        <div id="selectedImages" class="mt-3 mb-3"></div> <!-- Container for displaying selected images --> 

                        <button type="submit" class="btn btn-primary">Upload Images</button> 
                    </form> 
            
                </div>
            </div> <!-- card end// -->
        </div>
        <div class="col-lg-3">
            
            
            
        </div>
    </div>
</section> <!-- content-main end// -->
{% endblock %}
