{% extends 'Base/user_base.html' %}
{% load static %}
{% block content %}
<div style="margin-left:400px; width:800px">
    <div style="margin-top:30px;" class="r">
        <h2>Change Password</h2>
    </div>
    <div class="card-body">
        <form method="post" name="edit_address_form" action="{% url 'user_panel:change_password' %}">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Old Password <span class="required">*</span></label>
                    <input required class="form-control square" name="old_password" type="Password" >
                </div>
                <div class="form-group col-md-6">
                    <label> New Password <span class="required">*</span></label>
                    <input required class="form-control square" name="new_password" type="Password">
                </div>
                <div class="form-group col-md-6">
                    <label> Confirm New Password <span class="required">*</span></label>
                    <input required class="form-control square" name="confirm_new_password" type="Password" >
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        {% if messages %}
            const messages = [
                {% for message in messages %}
                    {
                        level: "{{ message.tags }}",
                        text: "{{ message }}"
                    },
                {% endfor %}
            ];
            messages.forEach(message => {
                Swal.fire({
                    toast: true,
                    position: 'top-right',
                    icon: message.level === 'success' ? 'success' : 'error',
                    title: message.text,
                    showConfirmButton: false,
                    timer: 3000
                });
            });
        {% endif %}
    });
</script>
{% endblock %}