{% extends 'Base/user_base.html' %}
{% load static %}
{% block content %}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> Account
            </div>
        </div>
    </div>
    <section class="pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-add  " role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Add Address</a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'accounts:logout' %}"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="tab-content dashboard-content">
                                <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Hello {{ user.username }}! </h5>
                                        </div>
                                        <div class="card-body">
                                            <p>From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Your Orders</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Order</th>
                                                            <th>Date</th>
                                                            <th>Status</th>
                                                            <th>Total</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>#1357</td>
                                                            <td>March 45, 2020</td>
                                                            <td>Processing</td>
                                                            <td>$125.00 for 2 item</td>
                                                            <td><a href="#" class="btn-small d-block">View</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>#2468</td>
                                                            <td>June 29, 2020</td>
                                                            <td>Completed</td>
                                                            <td>$364.00 for 5 item</td>
                                                            <td><a href="#" class="btn-small d-block">View</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>#2366</td>
                                                            <td>August 02, 2020</td>
                                                            <td>Completed</td>
                                                            <td>$280.00 for 3 item</td>
                                                            <td><a href="#" class="btn-small d-block">View</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Orders tracking</h5>
                                        </div>
                                        <div class="card-body contact-from-area">
                                            <p>To track your order please enter your OrderID in the box below and press "Track" button. This was given to you on your receipt and in the confirmation email you should have received.</p>
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <form class="contact-form-style mt-30 mb-50" action="#" method="post">
                                                        <div class="input-style mb-20">
                                                            <label>Order ID</label>
                                                            <input name="order-id" placeholder="Found in your order confirmation email" type="text" class="square">
                                                        </div>
                                                        <div class="input-style mb-20">
                                                            <label>Billing email</label>
                                                            <input name="billing-email" placeholder="Email you used during checkout" type="email" class="square">
                                                        </div>
                                                        <button class="submit submit-auto-width" type="submit">Track</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                    <div class="row">
                                        {% for address in user_address %}
                                        <div class="col-lg-6">
                                            <div class="card mb-3 mb-lg-0">
                                                <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                                                    <h5 class="mb-0">{{ address.name }}</h5>
                                                    <a href="{% url 'user_panel:make_as_default' address.id %}" style="color:red" class="btn-small">
                                                        {% if address.status %}
                                                            Default
                                                        {% else %}
                                                            Make as Default
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <address>
                                                        {{ address.house_name }} <br>
                                                        {{ address.street_name }} <br>
                                                        {{ address.pin_number }} <br>
                                                        {{ address.district }} <br>
                                                        {{ address.state }} <br>
                                                        {{ address.phone_number }}
                                                    </address>
                                                    <p>{{ address.country }}</p>    
                                                    <div style="margin-left:230px;">
                                                        <div style="display: inline-block;">
                                                            <a href="{% url 'user_panel:edit_address' address.id %}" class="btn-small">Edit</a>
                                                        </div>
                                                        <div style="display: inline-block;">
                                                            <p>|</p>
                                                        </div>
                                                        <div style="display: inline-block;">
                                                            <form action="{% url 'user_panel:address_delete' address.id %}" method='post'>
                                                                {% csrf_token %}
                                                                <button style="color: white; background-color: red; border: none; outline: none;" class="btn-small">Delete</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% empty %}
                                        <p>No addresses found.</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account-add" role="tabpanel" aria-labelledby="account-detail-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Add Address</h5>
                                        </div>
                                        <div class="card-body">
                                            
                                            <form id="addressForm" method="post" name="enq" action="{% url 'user_panel:create_address'%}">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label>Name <span class="required">*</span></label>
                                                        <input required class="form-control square" name="name" type="text">
                                                    </div>
                                                    
                                                    <div class="form-group col-md-6">
                                                        <label>House Name <span class="required">*</span></label>
                                                        <input required class="form-control square" name="house_name">
                                                    </div>
                                                    
                                                    <div class="form-group col-md-6">
                                                        <label>Street Name<span class="required">*</span></label>
                                                        <input required class="form-control square" name="street_name" type="text">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label>Pin Number<span class="required">*</span></label>
                                                        <input required class="form-control square" name="pin_number">
                                                    </div>
                                                    
                                                    <div class="form-group col-md-6">
                                                        <label>District <span class="required">*</span></label>
                                                        <input required class="form-control square" name="district" type="text">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label>State <span class="required">*</span></label>
                                                        <input required class="form-control square" name="state">
                                                    </div>
                                                    
                                                    <div class="form-group col-md-6">
                                                        <label>Country <span class="required">*</span></label>
                                                        <input required class="form-control square" name="country" type="text">
                                                    </div>
                                                    
                                                    <div class="form-group col-md-6">
                                                        <label>Phone Number <span class="required">*</span></label>
                                                        <input required class="form-control square" name="phone_number" type="tel" pattern="[0-9]{10}">
                                                    </div>
                                                    
                                                    <div class="form-check mb-3">
                                                        <input type="checkbox" class="form-check-input" id="is_active" name="status">
                                                        <label class="form-check-label" for="is_active">Make As Default</label>
                                                    </div>
                                                    
                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Save</button>
                                                    </div>
                                                </div>
                                            </form>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>

        document.getElementById('addressForm').addEventListener('submit', function(event) {
            var form = this;
            var isValid = true;
            var fields = [
                { name: 'name', pattern: /^[A-Za-z\s]{2,50}$/ }, 
                { name: 'house_name', pattern: /^.{1,100}$/ },
                { name: 'street_name', pattern: /^.{2,100}$/ },
                { name: 'pin_number', pattern: /^[0-9]{5,6}$/ },
                { name: 'district', pattern: /^[A-Za-z\s]{2,50}$/ },
                { name: 'state', pattern: /^[A-Za-z\s]{2,50}$/ },
                { name: 'country', pattern: /^[A-Za-z\s]{2,50}$/ },
                { name: 'phone_number', pattern: /^[0-9]{10}$/ }
            ];
    
            fields.forEach(function(field) {
                var input = form[field.name];
                var value = input.value.trim();
                if (!field.pattern.test(value)) {
                    isValid = false;
                    input.style.borderColor = 'red';
                } else {
                    input.style.borderColor = '';
                }
                input.value = value; // Remove leading/trailing spaces
            });
    
            if (!isValid) {
                event.preventDefault(); // Prevent form submission if validation fails
                alert('Please fill out all required fields correctly.');
            }
        });
    
</script>
{% endblock %}