<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>User Management</title> 
    <!-- Add Bootstrap CSS --> 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> 
</head> 
<body> 
<div class="container mt-5"> 
    <h2>User Management</h2> 
    <a href="{% url 'create_user' %}" class="btn btn-primary mb-3">Create New User</a> 
    <table class="table table-bordered"> 
        <thead class="thead-dark"> 
            <tr> 
                <th>ID</th> 
                <th>Username</th> 
                <th>Email</th> 
                <th>First Name</th> 
                <th>Last Name</th> 
                <th>Phone Number</th> 
                <th>Actions</th> 
            </tr> 
        </thead> 
        <tbody> 
            {% for user in users %} 
            <tr> 
                <td>{{ user.id }}</td> 
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td> 
                <td>{{ user.first_name }}</td> 
                <td>{{ user.last_name }}</td> 
                <td>{{ user.phone_number }}</td> 
                <td> 
                    {% if user.is_blocked %}
                    <button onclick="blockItem('{% url 'user_block' user.id %}','Are you sure you want to block this user')" class="btn {% if user.is_blocked %}btn-success{% else %}btn-warning{% endif %} btn-sm">
                        Block
                    </button>
                    {% else %}
                    <button onclick="blockItem('{% url 'user_block' user.id %}','Are you sure you want to unblock this user')" class="btn {% if user.is_blocked %}btn-success{% else %}btn-warning{% endif %} btn-sm">
                        UnblockBlock
                    </button>
                    {% endif %}

                    {% if user.is_active %}
                        <button onclick="deleteItem('{% url 'user_delete' user.id %}', 'Are you sure you want to delete this user')" class="btn btn-danger btn-sm">
                            Delete
                        </button>
                    {% else %}
                        <button onclick="deleteItem('{% url 'user_delete' user.id %}', 'Are you sure you want to restore this user')" class="btn btn-warning btn-sm">
                            Restore
                        </button>
                    {% endif %}
                        

                </td> 
            </tr> 
            {% endfor %} 
        </tbody> 
    </table> 
</div> 
 
<!-- Add Bootstrap JS and dependencies --> 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 
<script>

    function blockItem(url, message) {
        swal({
            title: "Are you sure?",
            text: message,
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
              window.location.href = url;
            } 
          });
    }

    function deleteItem(url, message) {
        swal({
            title: "Are you sure?",
            text: message,
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
              window.location.href = url;
            } 
          });
    }
</script>
</body> 
</html>