{% extends "Base/user_base.html" %}
{% load static %}
{% block content %}
<style>
    .deal {
        position: relative;
        overflow: hidden;
        height: 100%; /* Adjust as needed */
        color: #fff; /* Ensure text is readable over the video */
    }
    
    .video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    .video-background video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translate(-50%, -50%);
    }
    
    .deal-top, .deal-content, .deal-bottom {
        position: relative;
        z-index: 1; /* Ensure text is above the video */
        padding: 20px; /* Add some padding if needed */
    }
    
    .deal-top {
        /* Styling for top section */
    }
    
    .deal-content {
        /* Styling for content section */
    }
    
    .deal-bottom {
        /* Styling for bottom section */
    }
    
</style>
<main class="main">       
    <section class="home-slider position-relative pt-50">
        <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row align-items-center slider-animated-1">
                        <div class="col-lg-5 col-md-6">
                            <div class="hero-slider-content-2">
                                <h4 class="animated">Trade-in offer</h4>
                                <h1 class="animated fw-900">Hype Your Wardrobe</h1>
                                <h1 class="animated fw-900">with Exclusive Drops</h1>
                                <p class="animated"></p>
                                <a class="animated btn btn-black" href="{% url 'accounts:product_shop' %}"> Shop Now </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6" >
                            <div class="single-slider-img single-slider-img-1" >
                                <img  class="animated slider-1-1" src="{% static 'banner/new4.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row align-items-center slider-animated-1">
                        <div class="col-lg-5 col-md-6">
                            <div class="hero-slider-content-2">
                                <h4 class="animated">Exclusive Drop Alert</h4>
                                <h1 class="animated fw-900">Uncover the Latest</h1>
                                <h1 class="animated fw-900">Hyped Collections</h1>
                                
                                <a class="animated btn btn-black" href="{% url 'accounts:product_shop' %}">Discover Now</a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated slider-1-1" src="{% static 'banner/new5.jpg' %}" alt="Exclusive Drop">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row align-items-center slider-animated-1">
                        <div class="col-lg-5 col-md-6">
                            <div class="hero-slider-content-2">
                                <h4 class="animated">Hot promotions</h4>
                                <h1 class="animated fw-900">Stand Out with</h1>
                                <h1 class="animated fw-900 ">Our Exclusive and Unique Hype Apparel</h1>
                                <p class="animated"></p>
                                <a class="animated btn btn-black" href="{% url 'accounts:product_shop' %}"> Discover Now </a>
                            </div>
                            
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated slider-1-2" src="{% static 'banner/977032.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row align-items-center slider-animated-1">
                        <div class="col-lg-5 col-md-6">
                            <div class="hero-slider-content-2">
                                <h4 class="animated">Upcoming Offer</h4>
                                <h1 class="animated fw-900">Stay Ahead of</h1>
                                <h1 class="animated fw-900 "> the Game with Exclusive Hype Gear</h1>
                                <p class="animated"></p>
                                <a class="animated btn btn-black" href="{% url 'accounts:product_shop' %}"> Shop Now </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated slider-1-3" src="{% static 'banner\street wear.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-arrow hero-slider-1-arrow"></div>
    </section>
    <section class="featured section-padding position-relative">            
        <div class="container">
            <div class="row">
                {% for brand in brands %}
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="{{ brand.brand_image.url }}"  alt="{{ brand.brand_name }}">
                        
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="product-tabs section-padding position-relative wow fadeIn animated">
        <div class="bg-square"></div>
        <div class="container">
            <div class="tab-header">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                    
                    </li>
                </ul>
                <a href="{% url 'accounts:product_shop' %}" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
            </div>
            <!--End nav-tabs-->
            <div class="tab-content wow fadeIn animated" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                    <div class="row product-grid-4">
                        {% for product in products %}
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6" >
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom" >
                                            <a href="shop-product-right.html">
                                                {% if product.thumbnail %}
                                                <a href="{% url 'accounts:product_details' product.id %}"><img  class="default-img" src="{{ product.thumbnail.url }}" alt="{{ product.product_name }}"></a>
                                                <a href=""></a><img class="hover-img" src="" alt=""></a>
                                                {% endif %}
                                            </a>
                                        </div>
                                        
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span style="color:white; background-color:red;" class="new">New</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">{{ product.product_brand.brand_name }}</a>
                                        </div>
                                        <h2><a href="{% url 'accounts:product_details' product.id %}">{{ product.product_name }}</a></h2>
                                        <div  title="90%">
                                            <span>
                                                <span style="color:red; font-weight:blod;">{{ product.percentage_discount }}%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>₹{{ product.offer_price }} </span>
                                            <span class="old-price">₹{{ product.price }}</span>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-2 section-padding pb-0">
        <div class="container">
            <div class="banner-img banner-big wow fadeIn animated f-none">
                <img src="" alt="">
                
            </div>
        </div>
    </section>
   
    <section class="banners mb-15">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="banner-img wow fadeIn animated">
                        <img src="{% static 'banner/black.jpg' %}" alt="">
                        <div style="color:white;" class="banner-text">
                            <span style="color:white;">Smart Offer</span>
                            <h4 style="color:white;">Save 20% on <br>Hoodies</h4>
                            <a href="{% url 'accounts:product_shop' %}" style="color:white;">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="banner-img wow fadeIn animated">
                        <img src="{% static 'banner/white.jpg' %}" alt="">
                        <div class="banner-text">
                            <span>Sale off</span>
                            <h4>Great Summer <br>Collection</h4>
                            <a href="{% url 'accounts:product_shop' %}">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-md-none d-lg-flex">
                    <div class="banner-img wow fadeIn animated  mb-sm-0">
                        <img src="{% static 'banner/black.jpg' %}" alt="">
                        <div class="banner-text">
                            <span style="color:white;">New Arrivals</span>
                            <h4 style="color:white;">Shop Today’s <br>Deals & Offers</h4>
                            <a style="color:white;" href="{% url 'accounts:product_shop' %}">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="container wow fadeIn animated">
            <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
            <div class="carausel-6-columns-cover position-relative">
                <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows"></div>
                <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                    {% for product in products %}
                    <div class="product-cart-wrap small hover-up">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <a href="{% url 'accounts:product_details' product.id %}">
                                    <img class="default-img" src="{{ product.thumbnail.url }}" alt="{{ product.product_name }}">
                                    <img class="hover-img" src="{{ product.thumbnail.url }}" alt="{{ product.product_name }}">
                                </a>
                            </div>
                            
                            <div class="product-badges product-badges-position product-badges-mrg">
                                <span style="color:white; background-color:red;" >New</span>
                            </div>
                        </div>
                        <div class="product-content-wrap">
                            <h2><a href="{% url 'accounts:product_details' product.id %}">{{ product.product_name }}</a></h2>
                            <div  title="90%">
                                <span>
                                    <span style="color:red;">{{ product.percentage_discount }}%</span>
                                </span>
                            </div>
                            <div class="product-price">
                                <span>₹{{ product.offer_price  }}</span>
                                <span class="old-price">₹{{ product.price }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!--End product-cart-wrap-2-->
                </div>
            </div>
        </div>
    </section>
    <section class="deals section-padding">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6 deal-co">
                    <div class="deal wow fadeIn animated">
                        <div class="video-background">
                            <video autoplay muted loop playsinline>
                                <source src="{% static 'images/street2.mp4' %}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        <div class="deal-top">
                            <h2 class="text-brand">Hyped Apparel</h2>
                            <h5>Trendsetting Styles.</h5>
                        </div>
                        <div class="deal-content">
                            <h6 class="product-title"><a href="shop-product-right.html">Elevate Your Wardrobe with Exclusive Drops</a></h6>
                            <div class="product-price"><span class="new-price">₹3000.00</span><span class="old-price">₹9000.99</span></div>
                        </div>
                        <div class="deal-bottom">
                            <p>Catch the Hottest Trends:</p>
                            <div class="deals-countdown" data-countdown="2026/03/25 00:00:00"></div>
                            <a href="{% url 'accounts:product_shop' %}" class="btn hover-up">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 deal-co">
                    <div class="deal wow fadeIn animated">
                        <div class="video-background">
                            <video autoplay muted loop playsinline>
                                <source src="{% static 'images/street1.mp4' %}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        <div class="deal-top">
                            <h2 class="text-brand">Exclusive Hype Drops</h2>
                            <h5>Stand Out in Style.</h5>
                        </div>
                        <div class="deal-content">
                            <h6 class="product-title"><a href="shop-product-right.html">Unleash the Boldest Looks of the Season</a></h6>
                            <div class="product-price"><span class="new-price">₹4000.00</span><span class="old-price">₹6000.99</span></div>
                        </div>
                        <div class="deal-bottom">
                            <p>Limited Edition Releases:</p>
                            <div class="deals-countdown" data-countdown="2026/03/25 00:00:00"></div>
                            <a href="{% url 'accounts:product_shop' %}" class="btn hover-up">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <section class="bg-grey-9 section-padding">
        <div class="container pt-25 pb-25">
            <div class="heading-tab d-flex">
                <div class="heading-tab-left wow fadeIn animated">
                    <h3 class="section-title mb-20"><span>Monthly</span> Best Sell</h3>
                </div>
                <div class="heading-tab-right wow fadeIn animated">
                    <ul class="nav nav-tabs right no-border" id="myTab-1" role="tablist">
                        {% comment %} <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="nav-tab-one-1" data-bs-toggle="tab" data-bs-target="#tab-one-1" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-tab-two-1" data-bs-toggle="tab" data-bs-target="#tab-two-1" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-tab-three-1" data-bs-toggle="tab" data-bs-target="#tab-three-1" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>
                        </li> {% endcomment %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 d-none d-lg-flex">
                    <div class="banner-img style-2 wow fadeIn animated">
                        <img src="{% static 'banner/travis.jpg' %}" alt="">
                        <div class="banner-text">
                            <span>HYPE Area</span>
                            <h4 class="mt-5">Save 17% on <br>Clothing</h4>
                            <a href="{% url 'accounts:product_shop' %}" class="text-white">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="tab-content wow fadeIn animated" id="myTabContent-1">
                        <div class="tab-pane fade show active" id="tab-one-1" role="tabpanel" aria-labelledby="tab-one-1">
                            <div class="carausel-4-columns-cover arrow-center position-relative">
                                <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow" id="carausel-4-columns-arrows"></div>
                                <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns">
                                    {% for product in products %}
                                    <div class="product-cart-wrap">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="{% url 'accounts:product_details' product.id %}">
                                                    <img class="default-img" src="{{ product.thumbnail.url }}" alt="{{ product.product_name }}">
                                                    <img class="hover-img" src="{{ product.thumbnail.url }}" alt="{{ product.product_name }}">
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot" style="background-color:red; color:white;">Hot</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="{% url 'accounts:product_details' product.id %}">{{ product.product_category.category_name }}</a>
                                            </div>
                                        <h2><a href="{% url 'accounts:product_details' product.id %}">{{ product.product_name }}</a></h2>
                                            <div  title="90%">
                                                <span>
                                                    <span style="color:red;">{{ product.percentage_discount }}%</span>
                                                </span>
                                            </div>
                                            <div class="product-price">
                                                <span>₹{{ product.offer_price }} </span>
                                                <span class="old-price">₹{{ product.price }}</span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                        </div>
                        <!--End tab-pane-->
                        
                    </div>
                    <!--End tab-content-->
                </div>
                <!--End Col-lg-9-->
            </div>
        </div>
    </section>
    
    
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.min.css">

<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.all.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        {% if messages %}
            const messages = [
                {% for message in messages %}
                    {
                        type: "{{ message.tags }}",
                        text: "{{ message }}"
                    },
                {% endfor %}
            ];
            messages.forEach(message => {
                Swal.fire({
                    toast: true,
                    position: 'top-right',
                    icon: message.type === 'error' ? 'error' : 'success',
                    title: message.text,
                    showConfirmButton: false,
                    timer: 3000,
                    background: message.type === 'error' ? '#f8d7da' : '',
                    color: message.type === 'error' ? '#721c24' : ''
                });
            });
        {% endif %}
    });
</script>
{% endblock %}