{% extends 'Base/user_base.html' %}
{% load static %}
{% block content %}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'accounts:home' %}" rel="nofollow">Home</a>
                <span></span> <a href="{% url 'accounts:product_shop' %}" rel="nofollow">Shop</a>
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p> We found <strong class="text-brand">{{ count }}</strong> items for you!</p>
                        </div>
                        <div class="sort-by-product-area">
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps"></i>Price:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span>filter by price<i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="?price_range=2000-3000">2000 - 3000</a></li>
                                        <li><a href="?price_range=3000-4000">3000 - 4000</a></li>
                                        <li><a href="?price_range=4000-5000">4000 - 5000</a></li>
                                        <li><a href="?price_range=above_5000">Above 5000</a></li>
                                        <li><a href="?price_range=all">All</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a href="?category={{ current_category }}&sort_by=featured" {% if current_sort_by == 'featured' %}class="active"{% endif %}>All</a></li>
                                        <li><a href="?category={{ current_category }}&sort_by=price_asc" {% if current_sort_by == 'price_asc' %}class="active"{% endif %}>Price: Low to High</a></li>
                                        <li><a href="?category={{ current_category }}&sort_by=price_desc" {% if current_sort_by == 'price_desc' %}class="active"{% endif %}>Price: High to Low</a></li>
                                        <li><a href="?category={{ current_category }}&sort_by=release_date" {% if current_sort_by == 'release_date' %}class="active"{% endif %}>Release Date</a></li>
                                        <li>
                                            <a href="?category={{ current_category }}&sort_by=avg_rating" {% if current_sort_by == 'avg_rating' %}class="active"{% endif %}>
                                                Avg. Rating
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row product-grid-3">
                        {% for product in products %}
                            <div class="col-lg-4 col-md-4 col-8 col-sm-8">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="shop-product-right.html">
                                                {% if product.thumbnail %}
                                                <a href="{% url 'accounts:product_details' product.id %}"><img class="default-img" src="{{ product.thumbnail.url }}" alt="{{ product.product_name }}"></a>
                                                <a href=""></a><img class="hover-img" src="" alt=""></a>
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="new" style="background-color:red; color:white;">New</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">{{ product.product_brand.brand_name }}</a>
                                        </div>
                                        <h2><a href="{% url 'accounts:product_details' product.id %}">{{ product.product_name }}</a></h2>
                                        <div title="90%">
                                            <span>
                                                <span style="color:red; font-weight:bold;">{{ product.percentage_discount }}%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>₹{{ product.offer_price }} </span>
                                            <span class="old-price">₹{{ product.price }}</span>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!--pagination-->
                    <div class="pagination-area mt-15 mb-50">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                {% if products.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ products.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">
                                            <i class="material-icons md-chevron_left"></i>
                                        </a>
                                    </li>
                                {% endif %}
                                
                                {% for num in products.paginator.page_range %}
                                    {% if products.number == num %}
                                        <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                
                                {% if products.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ products.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">
                                            <i style="background-color:black;" class="material-icons md-chevron_right"></i>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    
                </div>
                <div class="col-lg-3 primary-sidebar sticky-sidebar">
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                        <ul class="categories">
                        {% for category in categories %}
                            <li><a href="?category={{ category.slug }}">{{ category.category_name }}</a></li>
                        {% endfor %}  
                        </ul>
                    </div>
                    <!-- Fillter By Price -->
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Brands</h5>
                        <ul class="brands">
                        {% for brand in brands %}
                            <li><a href="?brand={{ brand.brand_name }}">{{ brand.brand_name }}</a></li>
                        {% endfor %}  
                        </ul>
                    </div>
                    <!-- Product sidebar Widget -->
                    <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                        <div class="widget-header position-relative mb-20 pb-10">
                            <h5 class="widget-title mb-10">New products</h5>
                            <div class="bt-1 border-color-1"></div>
                        </div>
                        {% for product in products|slice:":6" %}
                        <div class="single-post clearfix">
                            
                            <div class="image">
                                <img src="{{ product.thumbnail.url }}" alt="#">
                            </div>
                            <div class="content pt-10">
                                <h5><a href="{% url 'accounts:product_details' product.id %}">{{ product.product_name }}</a></h5>
                                <p class="price mb-0 mt-5">₹{{ product.offer_price }}</p>
                                <div class="product-rate">
                                    {% comment %} <div class="product-rating" style="width:90%"></div> {% endcomment %}
                                </div>
                            </div>
                            
                        </div>
                        {% endfor%}
                        
                    </div>
                    
                </div>
            </div>
            
        </div>
        
    </section>
    
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.min.css">

<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.all.min.js"></script>
<script>
    $(document).ready(function() {
        var selectedVariantId = $('.list-filter.size-filter li.active').eq(0).data('variant-id');
        
        // Handle variant selection
        $('.list-filter.size-filter li').on('click', function() {
            $('.list-filter.size-filter li').removeClass('active');
            $(this).addClass('active');
            selectedVariantId = $(this).data('variant-id');
    
        });
    
        // Handle add to cart
        $('.button-add-to-cart').on('click', function() {
            var productId = $(this).data('product-id');
            
            $.ajax({
                url: "{% url 'cart:add_to_cart' %}", // Replace with your actual add to cart URL
                method: "POST",
                data: {
                    'product_id': productId,
                    'variant_id': selectedVariantId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}' // Ensure you include the CSRF token
                },
                success: function(response) {
                    console.log(response)
                    if (response.success) {
                        Swal.fire({
                            toast: true,
                            position: 'top-right',
                            icon: 'success',
                            title: 'Product added to cart successfully',
                            showConfirmButton: false,
                            timer: 3000
                        });
                    } else if (response.message === 'Product is unavailable.') {
                        Swal.fire({
                            toast: true,
                            position: 'top-right',
                            icon: 'error',
                            title: 'Product is unavailable',
                            showConfirmButton: false,
                            timer: 3000
                        });
                    } else if (response.message === 'Product is out of stock.') {
                        Swal.fire({
                            toast: true,
                            position: 'top-right',
                            icon: 'error',
                            title: 'Product is out of stock',
                            showConfirmButton: false,
                            timer: 3000
                        });
                    } else {
                        Swal.fire({
                            toast: true,
                            position: 'top-right',
                            icon: 'error',
                            title: 'Login to add product to cart',
                            showConfirmButton: false,
                            timer: 3000
                        });
                    }
                },
                error: function(xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    console.log(err.message)
                    Swal.fire({
                        toast: true,
                        position: 'top-right',
                        icon: 'error',
                        title: 'Product is out of stock',
                        showConfirmButton: false,
                        timer: 3000
                    });
                }
            });
        });
    
    // add to wishlist
    
        $('.add-to-wishlist-btn').on('click', function(event) {
            event.preventDefault();
            var variantId = selectedVariantId;
            $.ajax({
                url: "{% url 'wishlist:add_to_wishlist' %}",
                type: 'POST',
                data: {
                    'variant': variantId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    console.log(response)
                },
                error: function(xhr) {
                    console.log(xhr.responseText)
                   // alert('Error: ' + xhr.responseJSON.message);
                }
            });
        });
    });
</script>
{% endblock %}